<template>
  <div>
    <h1>Product List</h1>
    <img v-if="loading"
      src="https://i.imgur.com/gVX3yPJ.gif"
    >
    <ul v-else>
      <li v-for="product in products">
        {{product.title}} - {{product.price | currency}} x {{product.inventory}}
        <button :disabled="!productIsInStock(product)" @click="addProductToCart(product)">Add to cart</button>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      loading: false,
      productIndex: 1
    };
  },
  /** mapState accepts AN ARRAY with the state properties to map or AN OBJECT.
   * when using an array, component's computed properties will have the same names
   * as the state properties.
   * A common need when mapping a state property to a computed property is to use a different
   * property name. To do that, we can pass an object.
   * When we pass an object to mapState, We can also use functions as values instead of a string
   *
   **/
  // computed: mapState(['products']),
  computed: {
    // using function is very handy sometimes.
    // e.g: to get the first product you could do something like that
    // Notice here that if you need to access local data, using this keyword and noremal function
    // instead of arrow function
    // productIsInStock: state => state.products[0],
    // specificProduct (state)  {
    //   return state.products[this.productIndex]
    // }
    ...mapState({
      products: state => state.products.items
    }),
    ...mapGetters('products',{
      productIsInStock: 'productIsInStock'
    })
    // productIsInStock() {
    //   return this.$store.getters.productIsInStock;
    // }
  },
  // products() {
  //   // return this.$store.getters.availableProducts; //switch to mutations to getters
  //   return this.$store.state.products;
  // },
  // productIsInStock() {
  //   return this.$store.getters.productIsInStock;
  // }

  methods: {
    ...mapActions({
      fetchProducts: 'products/fetchProducts',
      addProductToCart: 'cart/addProductToCart'
    }),
    // addProductToCart(product) {
    //   this.$store.dispatch("addProductToCart", product);
    // }
  },
  // component's created hook - after an instance is created
  created() {
    // shop.getProducts(products => {
    //   // using from local products to state global products (under state)
    //   // this.$store.state.products = products;
    //   /**
    //    * whenever we say update the state we mean run a mutation
    //    * And more precisely, commit a mutation.
    //    * to commit a mutation we use: then pass it the name of the mutation,
    //    * we can also pass a payload
    //    */
    //   console.log(products);
    //   this.$store.commit('setProducts', products);
    // })

    //calling action
    /**
     * second one of display can be payload if any
     * here we don't need any argument
     * but you could
     */
    this.loading = true;
    this.fetchProducts().then(() => (this.loading = false));
  }
};
</script>

<style scoped>
</style>
